
.container-agenda{
    margin-left: 8.5%;
}
.container-agenda p{
    width: 400px;
    padding-bottom: 20px;
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D0C39F;
    border-radius: 7px;
    width: 180px;
    height: auto;
    position: relative;
    margin-top: 55px;
}
.music img{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: -55px auto;
    position: absolute;
}

.music h3{
    color: #D0C39F;
    margin-top: 70px;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.1rem;
}
.clover{
    display: inline-block;
    justify-self: center;
}

p{
    color: #D0C39F;
}

.p-agenda{
    width: 400px;
    height: 120px;
    margin-left: 7.9%;
    font-family: 'Inter';
    font-size: 1.1rem;
}


@media (max-width: 700px){
    .music img{
        width: 100px;
        height: 100px;
    }
    .card div{
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
     p{
        font-size: 0.8rem;
    }

    .p-agenda{
        width: 300px;
        height: 100px;
    }
}