
.container-agenda{
    margin-left: 8.5%;
}
.container-agenda p{
    width: 400px;
    padding-bottom: 20px;
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D0C39F;
    border-radius: 7px;
    width: 180px;
    height: auto;
    position: relative;
    margin-top: 55px;
}
.music img{
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: -55px auto;
    position: absolute;
}

.music h3{
    color: #f5f5f5;
    margin-top: 85px;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Inter';
    font-weight: 700;
   
}

.music label{
    color: #f5f5f5;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: -20px;
    padding-bottom: 12px;
}

.music p{
    color: #D0C39F;
    font-size: 2rem;
    font-weight: 700; 
    margin-top: -20px;
    
}

.clover{
    display: inline-block;
    justify-self: center;
}


.p-agenda p{
    width: 400px;
    height: 120px;
    margin-left: 9%;
    font-family: 'Inter';
    font-size: 1rem;
    color: #f5f5f5;
}





@media (max-width: 700px){
  
    .card div{
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
     p{
        font-size: 0.8rem;
    }

    .p-agenda p{
        width: 300px;
        height: 100px;
        font-size: 0.8rem;
    }
}